.box-bank-balance{
	background-color: $white;
	color: $darkblue;
	padding:1em;
	height: 8em;
	.row:not(:first-child) {
		padding-top:.8em;
	}
	.bank-label{
		font-size: 1.3em;
		text-align: left;
		font-weight: 600;
	}
	.balance-label{
		font-size: 1.2em;
		text-align: left;
		margin-top: 0.6em;
	}
	.balance-val{
		font-size: 1.5em;
		top: -.19em;
		font-weight: 600;
		margin-top: 0.6em;
	}
}