<div class="row" ng-controller="allBalanceController">
	<div class="col-md-4" align="center" ng-repeat="bank in bankBalances | orderBy: ['bic']" ng-if="bank.bic !== 'MAS-REGULATOR'">
		<div class="box box-bank-balance">
			<div class="row">
				<div class="col-xs-12 bank-label">
					{{bankNodes[bank.bic].bankName}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-md-offset-1 balance-label col-xs-4">
					BALANCE
				</div>
				<div class="col-md-7 balance-val right-align">
					{{ bank.balance | noFractionCurrency:currencySymbol}}
				</div>
			</div>
		</div>
	</div>
</div>