<div class="mas-modal">
<div class="modal-header">
    <label>Confirmation</label>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12 modal-message">
            <span>Proceed to cancel?</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-primary" ng-click="proceedToCancel()">Yes</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" ng-click="dialogClose()">No</button>
        </div>
    </div>
</div>
</div>